<form action = "/quizzes/score" method="POST">

<h1>Part 1 (10 points each)</h1>
<% @questions1.each_with_index do |question, index| %>
  
  <%= question.statement%> <br>
    <input type="radio" name= "ans<%= index + 1%>" value= 1 ><%= question.option1 %><br>
    <input type="radio" name= "ans<%= index + 1%>" value= 2 ><%= question.option2 %><br>
    <input type="radio" name= "ans<%= index + 1%>" value= 3 ><%= question.option3 %><br>
    <input type="radio" name= "ans<%= index + 1%>" value= 4 ><%= question.option3 %><br>
    <input type = "hidden" name="answer<%= index + 1%>" value = "<%= @answers[index] %>" >
    <hr>
  
<% end %>

<h1>Part 2 (20 points each)</h1>
<% @questions2.each_with_index do |question, index| %>
  
  <%= question.statement%> <br>
    <input type="radio" name= "ans<%= index + 1 + @number_of_questions_part1 %>" value= 1 ><%= question.option1 %><br>
    <input type="radio" name= "ans<%= index + 1 + @number_of_questions_part1 %>" value= 2 ><%= question.option2 %><br>
    <input type="radio" name= "ans<%= index + 1 + @number_of_questions_part1 %>" value= 3 ><%= question.option3 %><br>
    <input type="radio" name= "ans<%= index + 1 + @number_of_questions_part1 %>" value= 4 ><%= question.option3 %><br>
    <input type = "hidden" name="answer<%= index + 1 + @number_of_questions_part1 %>" value = "<%= @answers[index + @number_of_questions_part1 ] %>" >
    <hr>
  
<% end %>


<input type = "hidden" name="category" value = "<%= @category_id %>" >
<input type="submit" value="Submit">
</form>